.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.main-content {
  padding-top: 80px; /* O ajustalo según la altura de tu navbar */
}

/* Home CSS */

.home-content {
  padding-top: -80px; /* O ajustalo según la altura de tu navbar */
  background-image: url(./img/fondo-elsanty.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh; /* asegura que cubra toda la pantalla */
  color: white; /* por si el fondo es oscuro */
  text-shadow: 2px 2px 4px rgba(0,0,0,0.8); /* sombra oscura */
  padding: 2rem;
}
